#checker-board {
    width: 550px;
    height: 750px;
    background-color: #ffbc00;
    border: 10px solid rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    position: relative;
}

.square {
    width: 50px;
    height: 50px;
    float: left;
}

.dark {
    background-color: green;
}

.light {
    background-color: white;
}

.gold {
    background-color: #ffb302;
}

.piece {
    width: 40px;
    height: 40px;
    /* border-radius: 20px; */
    position: absolute;
}

#hint {
    width: 15px;
    height: 15px;
    background-color: #909090;
    border-radius: 8px;
    position: absolute;
}